
#!/bin/bash
old_server="{{ old_server }}"
source /opt/se-tools/se.functions
rsync -avzP -e 'ssh -o StrictHostKeyChecking=no' $old_server:/etc/mysql/ /etc/mysql/
rsync -avzP -e 'ssh -o StrictHostKeyChecking=no' -i $old_server:/var/lib/mysql/ /var/lib/mysql/ --chown=mysql:mysql
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --delete --progress -i $old_server:/var/log/mysql/ /var/log/mysql/ --chown=mysql:adm
rsync -av -e 'ssh -o StrictHostKeyChecking=no' -H --delete --progress -i $old_server:/var/mail/ /var/mail/ --chown=Debian-exim:Debian-exim
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --delete --progress -i $old_server:/var/archive/ /var/archive/ --chown=Debian-exim:Debian-exim
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/root/spamexperts_backups/ /root/spamexperts_backups/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/mysql/debian.cnf /etc/mysql/debian.cnf
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/spamexperts/backup.secret /etc/spamexperts/backup.secret
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/hosts.allow /etc/hosts.allow
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/exim4/exim.* /etc/exim4/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/exim4-outgoing/exim.* /etc/exim4-outgoing/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/var/tmp/jobs/ /var/tmp/jobs/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/root/.ssh/authorized_keys /root/.ssh/authorized_keys
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/exim-local-conf/ /etc/exim-local-conf
rsync -avP -e 'ssh -o StrictHostKeyChecking=no' --delete -i --exclude='exim4*/db/*' $old_server:/var/spool/ /var/spool/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/zabbix/zabbix_agentd.psk /etc/zabbix/zabbix_agentd.psk
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/letsencrypt/ /etc/letsencrypt/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/var/lib/redis/ /var/lib/redis/ --chown=redis:redis
se-is-master && rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/spamexperts/spampanel.conf /etc/spamexperts/spampanel.conf
se-is-master && rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/var/www/public/uploads/logo/ /var/www/public/uploads/logo/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/ssl/private/apache.pem /etc/ssl/private/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/ssl/private/dovecot.pem /etc/ssl/private/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/etc/ssl/certs/dovecot.pem /etc/ssl/certs/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i --ignore-missing-args $old_server:/etc/ssl/private/nginx-* /etc/ssl/private/
rsync -av -e 'ssh -o StrictHostKeyChecking=no' --progress -i $old_server:/var/lib/spamexperts/sphinx/ /var/lib/spamexperts/sphinx/
